body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#footer {
  background: gray;
  position: bottom;
  margin-top: 20px;
}

#header {
  margin-bottom: 30px;
}

#message {
  width: 100%;
  position: top;
}
 
 #list td {
   width: 50%;
 }
